@using ADNU_CFRS.Repository
@{
    ViewBag.Title = "CreateReservation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-3">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card shadow-sm border-0" style="margin-top: 10px">
                <div class="card-header text-primary d-flex justify-content-between align-items-center" id="card-table-hearder">
                    <label class="mb-0">
                        CREATE RESERVATION
                    </label>
                </div>
                <div class="card-body">
                    <div id="alert-section" class="alert d-none" role="alert">
                        Message
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-muted font-weight-bold border-bottom pb-1">
                                REQUEST DETAILS
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="date" id="reservation_date" class="form-control form-control-sm" placeholder=" " autocomplete="off">
                                <label for="reservation_date">Date <span class="text-danger">*</span></label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" id="purpose" class="form-control form-control-sm" placeholder=" " autocomplete="off">
                                <label for="purpose">Purpose <span class="text-danger">*</span></label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-floating mb-3">
                                <input type="text" id="start_time" class="form-control form-control-sm" placeholder=" " autocomplete="off">
                                <label for="start_time">Start Time <span class="text-danger">*</span></label>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-floating mb-3">
                                <input type="text" id="end_time" class="form-control form-control-sm" placeholder=" " autocomplete="off">
                                <label for="end_time">End Time <span class="text-danger">*</span></label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <select id="resource_id" class="form-control form-control-sm">
                                    <option value="0">Select Resource</option>
                                    @foreach (var x in LookUpHelper.GetResources())
                                    {
                                        <option value="@x.resource_id">@x.resource_name</option>
                                    }
                                </select>
                                <label>Resource <strong class="text-danger">*</strong></label>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-floating mb-3">
                                <input type="text" id="no_of_attendees" class="form-control form-control-sm" placeholder=" " autocomplete="off">
                                <label for="no_of_attendees"># of Attendees <span class="text-danger">*</span></label>
                            </div>
                        </div>
                    </div>

                  
                </div>
                <div class="card-footer bg-gray-light d-flex justify-content-end">
                    <button type="submit"
                            class="btn btn-default btn-sm"
                            onclick="confirmSave()"
                            id="card-button-footer">
                        <i class="fa fa-save mr-1"></i> Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function confirmSave() {
        showConfirmation({
            title: "Save New Reservation",
            message: "Continue Saving?",
            subMessage: "",
            confirmText: "Yes, Save",
            confirmClass: "btn-success",
            icon: "fa-save",
            iconColor: "text-success",
            onConfirm: function () {
                SaveResource();
            }
        });
    }

    function SaveResource() {
        var reservation_date = document.getElementById("reservation_date").value;
        var purpose = document.getElementById("purpose").value;
        var start_time = document.getElementById("start_time").value;
        var end_time = document.getElementById("end_time").value;
        var resource_id = document.getElementById("resource_id").value;
        var no_of_attendees = document.getElementById("no_of_attendees").value;

        if (reservation_date === "" || purpose === "" || start_time === "" || end_time === "" || resource_id === "" ||
            no_of_attendees === "") {
            showAlert("Please fill in all required fields.", "danger");
            return false;
        }
        else {
            var url = '@Url.Action("SaveReservation", "Student")';
            var formData = new FormData();
            formData.append("reservation_date", reservation_date);
            formData.append("purpose", purpose);
            formData.append("start_time", start_time);
            formData.append("end_time", end_time);
            formData.append("resource_id", resource_id);
            formData.append("no_of_attendees", no_of_attendees);
            
            $.ajax({
                type: "POST",
                url: url,
                data: formData,
                processData: false,
                contentType: false,
                enctype: 'multipart/form-data',
                success: function (response) {
                    showAlert(response.msg, response.result);

                    if (response.result == "success") {
                            setTimeout(function () {
                            window.location = '@Url.Action("Index", "Account")';
                        }, 3000)
                    }
                },
                error: function (xhr, status, error) {
                    showAlert("Something went wrong. Please try again.", "error");
                    console.error(xhr.responseText);
                }
            });
        }
    }
</script>

